$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-color: rgb(58, 58, 58);
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: futura;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.row {
    position: relative;
    display: inline-block;
    background: whitesmoke;
    border-radius: 20px;
    padding: 25px;
    border: solid 2px black;
    box-shadow: 1px 1px 12px black;
    width: 460px;
    height: 330px;
}

.form-inline {
    padding-bottom: 10px;
}

.btn-default {
    margin-top:10px;
}

.Complete {
    background: rgb(158, 218, 158);
}
.Complete:hover {
    background: #367A36;
    color: whitesmoke;
}

.New {

}

.Delete {
    background: rgb(255, 108, 108);
}

.Delete:hover {
    background: #B43030;
    color: whitesmoke;
}

.input-medium {
    padding: 5px;
    border-radius: 5px;
    height: 180px;
    width: 350px;
    font-size: 20px;
}

.submit{
    margin-top: 5px;
    position: absolute;
    margin-top: 5px;
    margin-left: 0px;
    width: 350px;
    box-shadow: 0px 1px 2px rgb(56, 56, 56);

}

.description {
    height: 150px;
    width: 300px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    box-shadow: inset 2px 2px #979090;
}

.toDoList {
    display: inline-block;
    width: 200px;
    height: 330px;
    background: whitesmoke;
    position: absolute;
    top: 110px;
    right: 195px;
    border-radius: 20px;
    border: solid 2px black;
    box-shadow: 1px 1px 12px black;
}

.toDo {
    margin-top: 20px;
    width: 100px;
}